html {
    margin:0 !important;
    padding:0 !important;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin:0 !important;
    padding:0 !important;
    background-color:white;
}
a:link { 
    color: #2E4560 !important;
}
a:visited {
    color: gray !important;
}

p { 
    font-size: 1em;
    text-align:inherit;
    line-height: 1.7em;
    text-indent:inherit;

}

#bw-footer { 
    border-top: 1px solid rgb(200,200,200);
    padding: 5px 20px 30px 20px;
}

#bw-footer span, #bw-footer a:link, #bw-footer a:hover, #bw-footer a:visited, #bw-footer a:active {
    margin:0;padding:0 !important;
    color: #2E4560 !important;
}

/* Header */
#bw-header {
    background-color: rgb(156, 175, 131); 
    padding: 10px 0 10px 60px;
    overflow:hidden;      
}
#bw-header a:link, #bw-header a:hover, #bw-header a:visited {
    text-decoration: none !important;
    color: black !important;
}
#bw-header_nav {
    text-align:right;
    padding-right: 30px;
    margin-top: -10px;
    font-weight: bold;
}
#bw-header_nav a:visited, #bw-header_nav a:hover, #bw-header_nav a:link  {
    color: rgb(248, 255, 239) !important; 
    padding: 10px !important;
}
#bw-header_logo {
    float:left;
}
/* Do not allow document stylesheets to alter these */
#bw-header p {
    font-size: 1em      !important;
    text-align:inherit  !important;
    line-height: 1.7em  !important; 
    text-indent:inherit !important;
}

#bw-header_logo h1.bw-logo {
    margin:0; padding:0;
    font-weight: bold;
    letter-spacing:-1px;    

 }
#bw-header_logo h1.bw-logo a:visited, #bw-header_logo h1.bw-logo a:link, #bw-header_logo h1.bw-logo a:hover {
    color: #2E4560 !important;
}
#bw-header_nav a:visited span.bw-logo, #bw-header_nav a:link span.bw-logo, #bw-header_nav a:hover span.bw-logo 
{
    color: #2E4560 !important;
}

.bw-three {
    color: #2E4560;
 }
.bw-press {
    color: #5F5B4B;
 }
.bw-motto {  
    padding:0; margin:0;
 }
#bw-header_logo .bw-motto a:visited, #bw-header_logo .bw-motto a:link, #bw-header_logo .bw-motto a:hover {
    color: rgb(248, 255, 239) !important;
 }


h2, h3 {
   color: rgb(159, 109, 69);
}     
h1 { 
  color: rgb(111, 76, 48);
}
#bw-subheader {
    margin:0;
    padding:0;
    background-color: rgb(248, 255, 239);
    border-bottom: 1px solid rgb(210,210,210);
    width:100%;
    text-align:right;
    height:35px;
}
#bw-subheader .bw-signed-in {
  font-weight:normal;
}
#bw-subheader h3 {
  padding:0;margin:0;
  padding-right: 20px;
}
#bw-subheader .bw-signed-in a {
   color: rgb(159, 109, 69) !important;
}
#bw-subheader h1.bw-document_header {
    padding:0;margin:0;
    padding-left: 60px;
    font-size: 1.5em;
    color: #746E53;
    text-align:left;
    font-weight: normal;
}

#bw-subheader h1.bw-document_header a {
    color:#746E53;
    text-decoration:none;
}

#bw-leftnav ol.bw-nav {
    list-style-type: none;
    line-height: 2em;
    font-size:.8em;
    padding-left:0; 
    padding-right:20px;
    text-align:right;
}

#bw-leftnav ol.bw-nav li {
    padding-bottom: 1em;
}

#bw-leftnav h4 {
    text-align:right;
    padding-right: 2em;
}

ol.bw-nav a:link, ol.bw-nav a:visited, ol.bw-nav a:hover {
    text-decoration: none !important;
    color: black !important;
}

#bw-leftnav {    
    width:150px;
    padding-top:1em;
}

#bw-leftnav form h3 {
    color: rgb(210,210,210);
    font-size: .8em;
}

#bw-main {
    float:left;
    width:100%;
    padding-left: 15px;
    padding-top: 0;
    border-left: 1px dotted rgb(210,210,210);
    padding-bottom:100px;
}

.bw-rightnav {
    width:200px;
    margin-bottom:100px;
 }


/* A TEI line-group (treat as a blockquote) */
div.lg {
    padding: 2em;     
    font-style: italic;
    line-height: 1.2em;
    
}
ul.bw-about {
    line-height: 1.5em;
}

.bw-note {
  width:100%;
  color: #5F5B4B;
  font-weight:bold;
  background-color: rgb(248, 255, 239);
  padding:.5em;
  border:1px solid #5F5B4B;
}

table.bw-meta {
  width: 600px;
  margin:2em;
  border: 1px solid #5F5B4B;
  border-collapse:collapse;
}

table.bw-meta th {
  background-color: rgb(248, 255, 239);
  border: 1px dotted #5F5B4B;
  padding:1em;
  width:150px;
  text-align:left;
}
table.bw-meta  td {
  border: 1px dotted #5F5B4B;
  padding:1em;
}

table.bw-meta th.bw-table_header {
  border: 1px solid #5F5B4B;            
  text-align:center;
}
li.bw-first {
  font-size:larger;
  font-weight:bold;
}


.bw-message {
  color:darkred;
  background-color: lightyellow;
  padding:1em;
  border: 1px solid darkred;
}
.bw-message .bw-error {
  font-weight: bold;
  font-size: larger;
}
#bw-library th {
  background:white;
  border-bottom:1px dotted gray;
  padding: .5em;
}
div.bw-generic {
  width: 90%;
  margin:auto;
  padding: 10px;
}
#bw-upload-box {
  margin:0;padding:0;
  width:450px;
  border-top:none;
  border-bottom: 1px solid white;
  border: 5px solid rgb(156, 175, 131); 
  background:white;
  position:absolute;
  right:1em;
  padding-left:1em;
  font-size: smallest;
 }
#bw-upload-box form {
  display:inline;
}
#bw-upload-box input { 
  margin: 1em 1em 1em 1em;
}

#bw-upload-box h3 {
  display:inline;
}
#bw-shell-table {
  margin-left: 60px; padding: 0 60px 100px 0; background-color:white;
}
#bw-shell-table-content {
   background-color:white;padding-right: 50px;width:100%;
}
a.bw-help {
  font-size:smaller;
}
#bw-printheader {
 display:none;
}
div.bw-info-box {
  font-size:larger;
  border: 1px solid rgb(200,200,200) ;
  padding:1em;
  background-image: url(/static/yellow-gradiant.png);
  background-repeat: repeat-x;
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 

}
div.bw-info-box  h2 {
  padding:0;margin:1em;
}
h3.bw-upload-message {
 line-height: 1.5em;
}
#bw-search-box form {
 padding:0;
 margin-bottom:20px;
}
#bw-search-box h3 {
  color: gray;
  font-weight: normal;
  padding:0;
  margin:0;
  margin-bottom:2px;
  font-size: 12px;
} 
#bw-search-box input {
 padding:0;
 margin:0;
 width: 140px;
}
#bw-search-lang-message {
 font-size: smaller;
 color: gray;
}

#bw-search-lang-selection {
 font-size: smaller;
 color: gray;
}
#bw-search-box ul {
 list-style-type: none;
 margin:0;
 padding:0;
}
#bw-search-box fieldset {
 background-color:white;
}