html {
    margin:0 !important;
    padding:0 !important;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin:0 !important;
    padding:0 !important;
    background-color:white;
}

a:link { 
    color: #2E4560 !important;
}
a:visited {
    color: gray !important;
}

p { 
    font-size: 1em;
    text-align:inherit;
    line-height: 1.7em;
    text-indent:inherit;

}

/* Header */
#bw-header {
    background-color: rgb(156, 175, 131); 
    padding: 10px 0 10px 60px;
    overflow:hidden;      
    margin-bottom:0;
}
#bw-header a:link, #bw-header a:hover, #bw-header a:visited {
    text-decoration: none !important;
    color: black !important;
}
#bw-header_nav {
    text-align:right;
    padding-right: 30px;
    margin-top: -10px;
    font-weight: bold;
}
#bw-header_nav a:visited, #bw-header_nav a:hover, #bw-header_nav a:link  {
    color: rgb(248, 255, 239) !important; 
    padding: 10px !important;
}
#bw-header_logo {
    float:left;
}
/* Do not allow document stylesheets to alter these */
#bw-header p {
    font-size: 1em      !important;
    text-align:inherit  !important;
    line-height: 1.7em  !important; 
    text-indent:inherit !important;
}

#bw-header_logo h1.bw-logo {
    margin:0; padding:0;
    font-weight: bold;
    letter-spacing:-1px;    

 }

#bw-header_logo h1.bw-logo a:visited, #bw-header_logo h1.bw-logo a:link, #bw-header_logo h1.bw-logo a:hover {
    color: #2E4560 !important;
}
#bw-header_nav a:visited span.bw-logo, #bw-header_nav a:link span.bw-logo, #bw-header_nav a:hover span.bw-logo 
{
    color: #2E4560 !important;
}
/* Styles for the main nav */
.bw-three {
    color: #2E4560;
 }
.bw-press {
    color: #5F5B4B;
 }
.bw-motto {  
    padding:0; margin:0;
 }

#bw-header_logo .bw-motto a:visited, #bw-header_logo .bw-motto a:link, #bw-header_logo .bw-motto a:hover {
    color: rgb(248, 255, 239) !important;
 }

/* The upload field in the nav at the top */
#bw-upload-box {
  margin:0;padding:0;
  width:450px;
  border-top:none;
  border-bottom: 1px solid white;
  border: 5px solid rgb(156, 175, 131); 
  background:white;
  position:absolute;
  right:1em;
  padding-left:1em;
  font-size: smallest;
 }
#bw-upload-box form {
  display:inline;
}
#bw-upload-box input { 
  margin: 1em 1em 1em 1em;
}

#bw-upload-box h3 {
  display:inline;
}

/* Default colors for document headers. Often these are overridden by book styles. */
h2, h3 {
   color: rgb(159, 109, 69);
}     
h1 { 
  color: rgb(111, 76, 48);
}

/* The subheader is the narrow area that falls beneath the main navigation.  It includes the
login/logout links, and will also contain the title of a book when reading. */

#bw-subheader {
    margin:0;
    padding:0;
    background-color: rgb(248, 255, 239);
    border-bottom: 1px solid rgb(210,210,210);
    width:100%;
    text-align:right;
    height:35px;
}
#bw-subheader .bw-signed-in {
  font-weight:normal;
}
#bw-subheader h3 {
  padding:0;margin:0;
  padding-right: 20px;
}
#bw-subheader .bw-signed-in a {
   color: rgb(159, 109, 69) !important;
}
#bw-subheader h1.bw-document_header {
    padding:0;margin:0;
    padding-left: 60px;
    font-size: 1.5em;
    color: #746E53;
    text-align:left;
    font-weight: normal;
}

#bw-subheader h1.bw-document_header a {
    color:#746E53;
    text-decoration:none;
}

/* The left nav is available on most pages except for all mobile pages, when in Reading Mode, and 
   special pages like the Tour. */

#bw-leftnav ol.bw-nav {
    list-style-type: none;
    line-height: 2em;
    font-size:.8em;
    padding-left:0; 
    padding-right:20px;
    text-align:right;
}

#bw-leftnav ol.bw-nav li {
    padding-bottom: 1em;
}

#bw-leftnav h4 {
    text-align:right;
    padding-right: 2em;
}

ol.bw-nav a:link, ol.bw-nav a:visited, ol.bw-nav a:hover {
    text-decoration: none !important;
    color: black !important;
}

#bw-leftnav {    
    width:150px;
    padding-top:1em;
}

#bw-leftnav form h3 {
    color: rgb(210,210,210);
    font-size: .8em;
}

#bw-main {
    float:left;
    width:100%;
    padding-left: 15px;
    padding-top: 0;
    border-left: 1px dotted rgb(210,210,210);
    padding-bottom:100px;
}

.bw-rightnav {
    width:200px;
    margin-bottom:100px;
 }


/* A TEI line-group (treat as a blockquote). This is mainly for support of the 
   default Pride & Prejudice document. */
div.lg {
    padding: 2em;     
    font-style: italic;
    line-height: 1.2em;
    
}
ul.bw-about {
    line-height: 1.5em;
}

/* This is a yellow informational message, normally. */
.bw-note {
  width:100%;
  color: #5F5B4B;
  font-weight:bold;
  background-color: rgb(248, 255, 239);
  padding:.5em;
  border:1px solid #5F5B4B;
}

/* The "meta" table is displayed on the Book Information page, and includes all the 
   dc: metadata for the epub */
table.bw-meta {
  width: 600px;
  margin:2em;
  border: 1px solid #5F5B4B;
  border-collapse:collapse;
}

table.bw-meta th {
  background-color: rgb(248, 255, 239);
  border: 1px dotted #5F5B4B;
  padding:1em;
  width:150px;
  text-align:left;
}
table.bw-meta  td {
  border: 1px dotted #5F5B4B;
  padding:1em;
}

table.bw-meta th.bw-table_header {
  border: 1px solid #5F5B4B;            
  text-align:center;
}

li.bw-first {
  font-size:larger;
  font-weight:bold;
}

/* A red error message */
.bw-message {
  color:darkred;
  background-color: lightyellow;
  padding:1em;
  border: 1px solid darkred;
}
.bw-message .bw-error {
  font-weight: bold;
  font-size: larger;
}

div.bw-generic {
  width: 90%;
  margin:auto;
  padding: 10px;
}

/* The main table enclosing the entire site */
#bw-shell-table {
  margin-left: 60px; padding: 0 60px 100px 0; background-color:white; 
}
#bw-shell-table-content {
   background-color:white;padding-right: 50px;width:100%;
}

a.bw-help {
  font-size:smaller;
}

/* This header is displayed only on printed pages and contains the name of the logged-in
   user, as a simple form of watermarking */
#bw-printheader {
 display:none;
}

/* An info box provides help in the form of a callout list */
div.bw-info-box {
  font-size:larger;
  border: 1px solid rgb(200,200,200) ;
  padding:1em;
  background-image: url(/static/yellow-gradiant.png);
  background-repeat: repeat-x;
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 

}
div.bw-info-box  h2 {
  padding:0;margin:1em;
}

/* The message that appears when the user has uploaded a book */
h3.bw-upload-message {
 line-height: 1.5em;
}

/* The main search box that appears on most library pages */
#bw-search-box form {
 padding:0;
 margin-bottom:20px;
}

#bw-search-box h3 {
  color: gray;
  font-weight: normal;
  padding:0;
  margin:0;
  margin-bottom:2px;
  font-size: 12px;
} 
#bw-search-box input {
 padding:0;
 margin:0;
 width: 140px;
}

#bw-search-box ul {
 list-style-type: none;
 margin:0;
 padding:0;
}
#bw-search-box fieldset {
 background-color:white;
}

/* This appears on the public home page, as one of the three blocks describing
   Bookworm's features */
.bw-home-block {
  float:left;
  width: 200px;
  margin-top: .5em;
  height:200px;
  border-left: 1px dotted rgb(210,210,210);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2em;
}
.bw-home-block h2 {
  text-align:center;
  font-size: 20px;
}
.bw-home-block ul {
  list-style-type:none;
  line-height:1.6em;
  margin:0;padding:0;
  margin-left:2em;
  color: gray;
  font-size:12px;
  font-weight:bold;
}
.bw-home-block ul li { 
  margin-bottom:.5em;
}
.bw-home-block-first {
  border-left:0;
  clear:both;
}

/* The main text on the public home page ("A free platform for reading ePub books online...") */
#bw-text-intro a:visited,
#bw-text-intro a:link
{
  color: #2E4560 !important;
}

/* The public quotations */
#bw-public-quotes a:visited,
#bw-text-intro a:link
{
  color: gray !important;
}
#bw-public-quotes {
  clear:both;
}

.bw-public {
  padding-left:50px;
  padding-right:50px;
  margin:auto;
}
#bw-public-container {
  margin:auto;
}
/* The list of features that appears towards the bottom of the page */
#bw-public-features {
  position:relative;
  top:50px;                    
  padding-top:10px;
  clear:both;
  border-top: 1px solid rgb(210,210,210);
  background-image: url(/static/yellow-gradiant.png);
  background-repeat: repeat-x;
  height:525px;
  width:700px;
}
#bw-public-features .bw-public-screenshot-holder {
  float:right;
  width:300px;                            

}
#bw-public-features .bw-public-screenshot-holder p.bw-caption {
  font-size: 12px !important;
  color: rgb(111, 76, 48);
  width:250px;
}
#bw-public-features .bw-public-screenshot  {
  margin:0;padding:0;
  border:1px solid rgb(210,210,210);
}
#bw-public-features h2 {
  color: rgb(111, 76, 48);
  margin:0;
  padding-left: 10px;
}
#bw-public-features p {
  width:325px;
  padding-left: 20px;
}

.bw-document_title a { 
    text-decoration: none;
 }
#bw-upload_form label { 
    display:none;
}
.bw-upload { 
    text-transform: uppercase;
    font-weight: bold;
}
/* The status message appears on the library page, listing the number of books currently uploaded
   and the number of users. */
.bw-status a { 
    text-decoration:none;
}
.bw-status { 
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid rgb(210,210,210);
    color: gray;
    padding: 1em;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 20px;
 }
.bw-status h2, .bw-status h3 {
    margin:0;
    padding:0;
    text-align:center;
 }
.bw-status p {
    line-height:1em !important;
 }

/* bw-library is the ID of the table containing the user's library */

#bw-library {
    width:100%;
    background-color: rgb(254, 255, 254);
    background-image: url(/static/yellow-gradiant-long.png);
    background-repeat: repeat-x;
    border-collapse:collapse;
}
#bw-library .bw-title, #bw-library .bw-author {
    font-size: medium;
}
#bw-library td.bw-title-container {
   width: 50%;
}

#bw-library a:visited, #bw-library a:hover, #bw-library a:link { 
    text-decoration: none;
    color: black !important;
}
#bw-library a:hover {
    text-decoration: underline;
}
#bw-library .bw-attribution {
    clear:both;
}

#bw-library td {
    border-bottom: 1px dotted gray;
    padding: 7px;
}

#bw-library td.bw-title-container {
  width: 50%;
}

#bw-library td.bw-attribution-container {
  width: 20%;
}

#bw-library td.bw-added-container {
  width: 20%;
}

#bw-library th {
  background-color: rgb(228, 235, 219);
  border:none;
  margin:0;
}

/* Date added style in the library listing */
#bw-library span.bw-added {
  color: gray;
}
/* The title of the book as displayed inside the library listing */
h2.bw-title {
  display:inline;
  font-size: 1em;
}

table.bw-pagination a {
   text-decoration: none;
}

/* Pagination above the library listing */
table.bw-pagination th {
  width:33%;
  color:gray;
}

.bw-pagination-arrow {
  color:gray;
}

.bw-last-read {
  display:block;
  font-size:smaller;
  margin-top: .4em;
  color:gray;
}
.bw-last-read a {
  text-decoration: underline !important;
}


#bw-library .bw-delete {
  font-size: smaller;
}

p.bw-tagline {
    font-size: x-large !important;
    display:inline;
}

h3.bw-profile a:link, h3.bw-profile a:visited, h3.bw-profile a:hover,
h2.bw-upload a:link, h2.bw-upload a:visited, h2.bw-upload a:hover {
 
    color: #2E4560 !important;
    font-weight:bold;
}

#bw-text-intro {
 margin:0; padding:0;
}

#bw-text-intro p {
 margin:0; padding:0;
 color:gray;
}
#bw-text-intro p a {
 color:gray !important;
}

/* The generic form input, used on many forms such as the login and profile forms */
form input { 
  display:inline;
  margin: 1em 1em 1em 1em;
}

form fieldset {
  border: 1px solid rgb(200,200,200);
  background-color: rgb(248, 255, 239);
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
}
input {
 -moz-border-radius:10px;
 -webkit-border-radius: 10px; 
}

#bw-leftnav ol  {
  padding:0;margin:0;
  padding-bottom: 1em;
}
#bw-leftnav ol li {
  list-style-type: none;
  padding-bottom: 1em;
}
#bw-leftnav ol li {
  color: gray;
}
#bw-leftnav ol li a {
  text-decoration:none;
  border-bottom: 1px dotted rgb(200,200,200);
  line-height:1.3em;
}
#bw-lost-password {
  display:block;
}

table.bw-pagination {
  width:100%;
  padding:1em;
}

#bw-content form input { 
  display:block;
  margin: 1em 1em 1em 1em;
}
#bw-content form label {
  font-weight: bold;
  color: #5F5B4B;
  font-size: larger;

}
#bw-content form legend {
  color: #5F5B4B;
  font-weight:bold;
  font-size:large;

}

/* Reading Mode support */
#bw-content form fieldset {
  border: 1px solid rgb(200,200,200) ;
}
#bw-font-label {
  padding-right: 1em;
}
#bw-sans-serif-font {
  font-family: sans-serif !important;
}
#bw-serif-font {
  font-family: serif !important;
}
.bw-tool-image {
 padding:0;
 margin:0;
 border:0;
}
.bw-reading-tools {
   padding-top: 3px;
}

/* Main site footer */
#bw-footer { 
    border-top: 1px solid rgb(200,200,200);
    padding: 5px 20px 30px 20px;
}

#bw-footer span, #bw-footer a:link, #bw-footer a:hover, #bw-footer a:visited, #bw-footer a:active {
    margin:0;padding:0 !important;
    color: #2E4560 !important;
}
.bw-upload-message {
  color: black;
}
.bw-upload-errors {
  color: black;
  font-weight:bold;
}
#bw-upload-error-list {
  color: black;
}

#bw-feedbooks {
  display:none;
}
#bw-feedbooks ol {
  font-size: medium;
  line-height: 1.5em;
  list-style-type: none;
}