{% extends "base.html" %}

{% block main %}

<div id="main">


<h2>Projects</h2>

<div id="projects_form" style="padding-left: 3em">
  {% if projects.count %}
  <ol>
    {% for p in projects %}
    <li> 
      <a href="{% url db.views.view_project p.client.safe_name,p.safe_name %}">{{ p.name }}</a> 
      (<a href="{% url db.views.view_client c.safe_name %}">{{ p.client.name }}</a>)
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p>No projects are in the system at the moment.</p>
  {% endif %}


  <h3>Add a project</h3>
  <div>
    <form action="{% url db.views.add_project %} " method="post">
      <input type="text" name="project_name" size="30"/>
      for client
      <select name="client_name">
        {% for c in clients %}
        <option value="{{c.name}}">{{c.name}}</option>
        {% endfor %}
      </select>
      <div>
        <label for="project_description"><h3>and an optional short description:</h3></label>
        <textarea rows="3" cols="80" name="project_description"></textarea>
      </div>
      <p><input type="submit" value="add" /></p>
    </form>
  </div>
</div>

<h2>Clients</h2>

<div id="clients_form" style="padding-left: 3em">
  
  <div>
    <form action="/clients/add/" method="post">
      <div>
        <label for="client_name"><h3>Add a client</h3></label>
        <input type="text" name="client_name" />
      </div>
      <div>
        <label for="client_description"><h3>and an optional short description:</h3></label>
        <textarea rows="3" cols="80" name="client_description"></textarea>
      </div>
      <div>
        <p><input type="submit" value="add" /></p>
      </div>
    </form>
  </div>
</div>

</div>

{% endblock %}
