{% extends 'base_sitesearch.html' %}

{% block main %}
<h1 style="font-weight:normal;color:grey"><span class="logo"><a style="text-decoration:none" href="{% url threepress.search.views.index %}"><span class="three">three</span><span class="press">press</span></a></span> is a project to enable new revenue streams for print publishers using free and open tools for the web.</h1>
<p>
<em>Updated May, 2008</em>
</p>
<p>
Read a recent <a href="http://blog.threepress.org/2008/05/11/making-movies-out-of-words/">blog entry</a> on text-based movies, using Pride and Prejudice as a sample. 
</p>

<h2>Demonstration</h2>
<p>These public domain books are available for online reading, searching, or downloading as portable ebooks:</p>
{% if documents %}

<ul>
  {% for document in documents %}
  <li style="line-height:2em">
    {{ document.link|safe }} by <em>{{ document.author }}</em>
    <br/>
    {{ document.info }}
  </li>
{% endfor %}
</ul>
{% else %}

 <p>No documents are currently in the system.</p>

{% endif %}

{% endblock %}
