{% extends 'base_sitesearch.html' %}

{% block leftnav %}
{{ block.super }}
<h3 class="left-home"><a href="http://bookworm.threepress.org/">bookworm</a></h3>
<p  class="left-home">
threepress <a href="http://bookworm.threepress.org/">Bookworm</a>, is the first web-based
reader of the ePub ebook format.  <a href="http://blog.threepress.org/2008/07/15/bookworm-an-online-epub-reader/">Read more</a>.
</p>

<h3 class="left-home"><a href="{% url logos %}">ePub logos</a></h3>
<p  class="left-home">
  Free, public domain <a href="{% url logos %}">ePub logos</a> for use in your website.
</p>

{% endblock %}
{% block main %}
<h1 style="font-weight:normal;color:grey"><span class="logo"><a style="text-decoration:none" href="{% url threepress.search.views.index %}"><span class="three">three</span><span class="press">press</span></a></span> is a project to enable new revenue streams for print publishers using free and open tools for the web.</h1>
<ul style="color:rgb(113, 127, 95);font-size:x-large;list-style-type:none;line-height:1.3em">
  <li> → XML-driven search applications </li>
  <li> → ebook and ePub development </li>
  <li> → technical writing and speaking on publishing topics </li>
  <li> → automated tools for data conversion </li>
  <li> → innovative experiments in publishing </li>

  <li> → agile custom development and <a href="/consulting/">consulting</a> </li>
</ul>

<h2 style="color:rgb(80,80,80);">Search and ebook demonstration</h2>
<p>
<img src="/static/images/epub/epub-logo-blue.png" width="100" align="left" style="padding-right:2em;" />
</p>
<div style="padding-left:2em">
<p style="width:60%">
These public domain books are available for online reading, searching, or downloading as portable ebooks in 
PDF or ePub format.  They have been converted from Project Gutenberg's internal DTD to TEI (Text Encoding Initiative), 
and then to their output formats, all automatically.  
</p>
<p>
This software is free and available for commercial or non-commercial use.</p>

{% if documents %}

<ul style="list-style-type:none">
  {% for document in documents %}
  <li style="line-height:2em">
    {{ document.link|safe }} by <em>{{ document.author }}</em>
  </li>
{% endfor %}
</ul>
{% else %}

 <p>No documents are currently in the system.</p>

{% endif %}
</div>
{% endblock %}
