/* These document-level styles should be displayed even with iframes */
a.svg {
  display:block;
  background-image: url(/static/svg.png);
  background-repeat: no-repeat;
  height:50px;
  text-align:right;
  margin-left:50px;
  width:250px;
  padding-top:10px;
}
    .results_nav {
       width:100%;
       clear:both;
       height:1em;

       padding: .5em .5em .5em .5em;
       background-color: #746E53;
       border-top: 1px solid rgb(248, 255, 239);
       border-bottom: 1px solid rgb(248, 255, 239);
    }

    .results_nav a {
       text-decoration: none;
       color: rgb(248, 255, 239);

    }
    .results_nav .previous {
      float:left;
    }
      .results_nav .next {
      float:right;

    }
