/* These document-level styles should be displayed even with iframes */
a.svg {
  display:block;
  background-image: url(/static/svg.png);
  background-repeat: no-repeat;
  height:50px;
  text-align:right;
  margin-left:50px;
  width:250px;
  padding-top:10px;
}
    .results_nav {
       width:100%;
       clear:both;
       height:1em;

       padding: .5em .5em .5em .5em;
       background-color: #746E53;
       border-top: 1px solid rgb(248, 255, 239);
       border-bottom: 1px solid rgb(248, 255, 239);
    }

    .results_nav a:link, .result_nav a:visited {
       text-decoration: none;
       color: rgb(248, 255, 239);

    }
    .results_nav .previous {
      float:left;
    }
      .results_nav .next {
      float:right;

    }

.has_children {
  /*   background-color: rgb(248, 255, 239); */
  border-bottom: 1px dotted gray;
  border-top: 1px dotted gray;
  margin-bottom: 1em;
}
.has_children a:link, .has_children a:visited {
 color: gray;
}

/* subnavs */
.current ol {
  font-weight:normal;
  font-size: smaller;
  padding:0;
  margin:0;
  text-align:right;
  list-style-type: none;
  padding-top:1em;
}

.current ol li {
  padding:0;
  margin:0;
}
