body {
  background: white;
  font-size: 10pt;
  font-family: georgia, serif;
  padding:0;
  margin:0;
}

p { line-height: 12pt; }

#outer {
  margin:0;padding:0;
}
#main {
  background: white;
  float:none;
  margin:0;
  padding:0;
  border:none;
}
#header {
  background: white;
  float:none;
}
#subheader {
  background: white;
  float:none;
}

a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

a:link:after, #content a:visited:after {
/*  content: " (" attr(href) ") "; */
  font-size: 90%;
}
#body a[href^="/"]:after {
  /*  content: " (http://www.threepress.org" attr(href) ") "; */
}
#leftnav {
  display:none;
}
#rightnav {
  display:none;
}
#container {
  margin:0;
  padding:0;
  display:block;
  float:none;
  border:none;
}

#header_nav, .results_nav, #footer {
 display:none;
}
