{% extends "base.html" %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" href="/static/about.css"></link>
{% endblock head %}

{% block header %}{% trans "Full-text search in Bookworm" %}{% endblock header %}

{% block title %}{% trans "Full-text search in Bookworm" %}{% endblock %}
{% block leftnav %}
{% include "includes/about.html" %}
{% endblock %}

{% block main %}
<p id="bw-about-description">
  {% blocktrans %}
  Bookworm's full-text search allows you to find words across
  all of your ePubs. You can search in multiple languages,
  and use advanced phrase searching and boolean operators similar to
  those supported by Google.
  {% endblocktrans %}
</p>

<h3>{% trans "Bookworm uses MySQL full-text search" %}</h3>
<p>
  {% blocktrans %}
  MySQL search supports boolean operators and phrase searching. It will index content
  in most languages, but doesn't support stemming.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %}
  Prior to January 2008, Bookworm used <a href="http://xapian.org/">Xapian</a>,
  a free, open-source search engine.  Xapian is an excellent product, but
  it requires a separate search index. This added enough maintenance overhead
  to make the simpler MySQL approach more desirable.
  {% endblocktrans %}
</p>

<h3>{% trans "Phrase searching" %}</h3>
<p>
  {% blocktrans %}
  Like Google, if you want to restrict your search to only a particular
  phrase (e.g. books containing the phrase "White House" vs. those including just "white" and
  "house" separately), then enclose them in quotation marks.
  {% endblocktrans %}
</p>
<h3>{% trans "Case-sensitivity" %}</h3>
<p>
  {% blocktrans %}
  All searches are case-insensitive.  This means that "White" will find "white" or "WHITE".
  {% endblocktrans %}
</p>
<h3>{% trans "Boolean operators" %}</h3>
<p>
  {% blocktrans %}
  Like Google, the default boolean operator is AND, meaning that in a
  multi-word search, all of the words must appear to produce a result.
  Bookworm does this by automatically appending a '+' character to all your
  search terms.  
  You can change this behavior by appending plus or minus signs to terms in your search,
  or including quotation marks, which overrides the default.
  {% endblocktrans %}
  <ul>
    <li> <em>{% trans "white" %} {% trans "house" %}</em> — {% trans "Both terms are required (like Google)." %}</li>
    <li> <em>+{% trans "white" %} +{% trans "house" %}</em> — {% trans "Same as above." %}</li>
    <li> <em>"{% trans "white" %}" "{% trans "house" %}"</em> — {% trans "Find ePubs with either word" %}</li>
    <li> <em>"{% trans "white" %} {% trans "house" %}"</em> — {% trans "Find the exact phrase" %}</li>
    <li> <em>{% trans "white" %} -{% trans "house" %}</em> — {% blocktrans %}This is a good way to find ePubs that <em>don't</em> contain the phrase "White House" but do contain the word "white"{% endblocktrans %}</li>
  </ul>
</p>
<h3>{% trans "Ordering <!-- trans: e.g. alphabetical order -->" %}</h3>
<p>
  {% blocktrans %}
  Results are returned in relevance order.  <em>Relevance</em>
  is how likely it is that a given result is what you were looking for.
  The algorithms used to determine relevance are complex and results
  aren't always as intuitive as those in a massive commercial search engine like Google.
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
  Simply put, ePubs with more occurrences of your search terms will appear
  higher in the results.
  {% endblocktrans %}
</p>

<h3>{% trans "Indexing" %}</h3>
<p>
  {% blocktrans %}
  Every few minutes, Bookworm checks to see if new ePubs have been added.
  If it finds new books, it indexes all of their words and adds them
  to your personal search library.   (It's not possible to search books 
  that are only in other people's libraries.)
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
  This means a book you've just added might not show
  up in the search immediately.  Be patient; it'll be there soon.
  {% endblocktrans %}
</p>

{% endblock main %}
