#bw-search-results {
  list-style-type: decimal;

  line-height: 1.2em;
  margin-left: 2em;
  padding:0;
}
#bw-search-results li {
  padding: .5em 10em .5em 0;
  list-style-type: decimal;
}
#bw-search-results .bw-match {
 font-weight:bold;
}
#bw-search-results .bw-search-results-fragment {
  display:block;
  color: black;
  font-size:x-small;
}
#bw-search-results .bw-search-results-fragment p {
  display:inline;
}
#bw-search-results .bw-search-results-title {

}
#bw-search-results .bw-search-results-author {
  font-size: small;
  color: gray;
}
.bw-search-previous {
 float:left;
}
.bw-search-next{
 float:right;
}