
<h1>About <span class="logo"><a style="text-decoration:none" href="{% url threepress.search.views.index %}"><span class="three">three</span><span class="press">press</span></a></span></h1>

<h2>Where is the source content derived from?</h2>

<p>
  All content in the demonstration portion of the site is public domain and has been acquired in accordance
  with the guidelines set by the organizations releasing the content.
</p>

<h3>Sources</h3>
  <ul>
    <li> <a href="http://www.gutenberg.org/wiki/Main_Page">Project Gutenberg</a>, especially the <a href="http://gutenberg.hwg.org/checkdoc1.html">XML document index</a>  </li>
  </ul>

<h2>What data formats are supported?</h2>
<p>
  All content must be in XML.  Currently we support TEI and XHTML.  DocBook support is planned.
</p>
