{% extends "base.html" %} 

{% spaceless %}
{% block title %}{{ document.title }} by {{ document.author }}{% endblock title %}
{% endspaceless %}

{% block header %}
   <div class="document_title"><h1><span class="title">{{ document.title }}</span> <span class="by">by</span> <span class="author">{{ document.author }}</span></h1></div>
{% endblock header%}


{% block main %}

   {% if chapter %}
   <h2>{{ chapter.title }}</h2>

   <div class="results_nav">
     <div class="previous"> {% if previous %} <a href="{% url threepress.search.views.document_view document.id,previous.id %}">← previous</a> {% endif %} </div>
     <div class="next">
       {% if next %} <a href="{% url threepress.search.views.document_view document.id,next.id %}">next →</a> {% endif %} 
     </div>
   </div>

   <div id="document_content">
     {{ chapter.render|safe }}
   </div>

   <div class="results_nav">
     <div class="previous"> {% if previous %} <a href="{% url threepress.search.views.document_view document.id,previous.id %}">← previous</a> {% endif %} </div>
     <div class="next">
       {% if next %} <a href="{% url threepress.search.views.document_view document.id,next.id %}">next →</a> {% endif %} 
     </div>
   </div>
   {% else %}

   <h4>Select a chapter on the left to browse online, or any of the formats listed below for the entire work:</h4>
   <ul style="list-style-type:none">
     <li><a style="text-decoration:none" href="/static/pdf/{{ document.id }}.pdf"><img src="/static/images/pdficon_small.gif" alt="PDF" border="0" /> (PDF)</a></li>
   </ul>
   
   {% endif %}

{% endblock main %}

{% block leftnav %}      

{% if document.has_parts %}
  {% for p in document.part_set.all %}
     <h4> {{ p.title }} </h4>
     <ol class="nav">
     {% for c in p.chapter_set.all %}
        {% ifequal c.ordinal chapter.ordinal %}
            {% ifequal p.id chapter.part.id %}
            <li class="current"> {{ c.title }} </li>
            {% endifequal %}
        {% else %}
          <li>{{ c.link|safe }}</li>
        {% endifequal %}
     {% endfor %}     
     </ol>
  {% endfor %}
{% else %}
   <ol class="nav">
     {% for c in document.chapter_set.all %}
        {% ifequal c.ordinal chapter.ordinal %}
          <li class="current"> {{ c.title }} </li>
        {% else %}
          <li>{{ c.link|safe }}</li>
        {% endifequal %}
     {% endfor %}
   </ol>        

{% endif %}
{% endblock leftnav %}

