{% extends "base.html" %} 

{% block main %}
<div id="main">

  <form action="{% url views.db.edit_bug client.safe_name,project.safe_name,bug.bug_num %}" method="post">
    <table>
      <tr>
        <th>
          <div>
            {{ bug.bug_num }}
        </div>
        </th>
        <th width="100%">
          <div id="bug_title">
            {{ bug.title }}
          </div>
        </th>
      </tr>
      <tr>
        <th>
          Description
        </th>
        <td>
          <div id="bug_description">
            {{ bug.description|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <th style="text-align:left">
          Reported by:
        </th>
        <td>
          <span id="bug_owner">
            {{ state.owner.nickname }}
          </span>
          
          <span id="bug_last_modified">
            {{ bug.last_modified }}
          </span>
        </td>
      </tr>
    </table>
    
    <br />
    <table class="comment">
      <tr>
        <th colspan="2">
          <label for="comment">New comment by {{ user.nickname }} on {{ now }}</label>
        </th>
      </tr>
      <tr>
        <th valign="top">
          Status: {{ statuses }}
        </th>
        <td width="100%">
          <h3><label for="comment">Comment:</label></h3>
          <textarea name="comment" rows="5" cols="80"></textarea>
        </td>
      </tr>
    </table>
    
    
  </form>
  
</div>

{% endblock %}