
<h1>About <span class="logo"><a style="text-decoration:none" href="/"><span class="three">three</span><span class="press">press</span></a></span></h1>
<p>
<em>Updated April, 2008</em>
</p>

<p>
<em>threepress</em> is a project to enable new revenue streams for print publishers using free and open tools for the web.
</p>

<h2>Projects</h2>
<p>
<em>threepress</em> is hosting two projects right now in varying stages of development:
</p>
<ol>
  <li><p><strong>tei2epub</strong> is a standalone Python application for converting TEI XML into OPS 2.0. </p>
  <p><a href="http://www.tei-c.org/index.xml">TEI (Text Encoding Initiative)</a> is one of the leading standard encoding schemes for electronic text. OPS 2.0 is an open standard ebook format developed by the <a href="http://www.idpf.org/">International Digital Publishing Forum</a>.  OPS files can be read with <a href="http://www.adobe.com/products/digitaleditions/">Adobe Digital Editions</a> and, in the near future, portable digital readers such as the Kindle. 
  </p>
  </li>
  <li> <p><strong>threepress search</strong> is a Django application which includes utilities to index TEI content, serve carefully-formatted online texts, and provide ebook versions in various open formats.</p></li>

</ol>

<p>Both projects are licensed under the GPL (except where different licenses apply to included components) and are available for checkout from Google Code at the <a href="http://code.google.com/p/threepress/">threepress source repository</a>.
</p>

<p>
The <em>threepress</em> sites includes fully-implemented samples of the above applications, with public domain content available for any use.
</p>

<h2>Where is the free book content from?</h2>

<p>
  All books in the demonstration portion of the site are public domain and have been acquired in accordance
  with the guidelines set by the organizations.
</p>

<h3>Sources</h3>
  <ul>
    <li> <a href="http://www.gutenberg.org/wiki/Main_Page">Project Gutenberg</a>, especially the <a href="http://gutenberg.hwg.org/checkdoc1.html">XML document index</a>  </li>
  </ul>

<h2>Contact</h2>

<p>
For all inquiries please contact <a href="mailto:info@threepress.org">info@threepress.org</a>.
</p>

