{% extends "base.html" %}
{% block header %}
<div class="document_title"><h1>Digital publishing tools → 
<a href="{% url logos %}">ePub logos</a></h1></div>
{% endblock %}

{% block leftnav %}
<h3 class="left-home" style="font-size:14px;font-weight:normal;">Use these ePub logos to show that you offer or support the ePub ebook format</h3>
<p class="left-home">
  Publishers, booksellers and developers can help build brand awareness for the open, portable
  ePub format by using these or other logos when offering ePub downloads or software.
</p>
<p>
<a rel="license" href="http://creativecommons.org/licenses/publicdomain/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/publicdomain/88x31.png" /></a><br />This work is dedicated to the <a rel="license" href="http://creativecommons.org/licenses/publicdomain/">Public Domain</a>.
</p>
<p class="left-home">
Logos designed by <a href="http://www.mccoy.pair.com">John McCoy</a>.
</p>
<p class="left-home">
You may also be interested in our <a href="{% url threepress.search.views.epub_validate %}">ePub validation service</a>.
</p>

{% endblock %}

{% block main %}

<h1>ePub logos</h1>
<h2>Free, public domain, in PNG, SVG and Adobe Illustrator (AI) format</h2>
<p>
  These logos representing the International Digital Publishing Forum (IDPF) ePub ebook format
  are in the <em>public domain</em> and can be used for any purpose with no
  attribution required.  Alternate versions of the logos can be added here by contacting <a href="mailto:liza@threepress.org">liza@threepress.org</a>.
</p>
<p>
  These logos are in no way affiliated with the IDPF itself and have not been sanctioned by them.
</p>
<p>
  Complete sets of logos:
</p>
<ul>
  <li> <a href="/static/images/epub/epub-logos-ai.zip">ePub logos in Adobe Illustrator format</a> (zipped, 1MB)</li>
  <li> <a href="/static/images/epub/epub-logos-svg.zip">ePub logos in SVG</a> (zipped, 800KB, provided courtesy of O'Reilly Media)</li>
</ul>

<p>
  Right-click on each file to download, or download a complete set of logos in PNG format: <a href="/static/images/epub/epub-logos-png.zip">epub-logos-png.zip</a>. 
</p>
<table width="100%">
  <tr>
    <td> <a href="/static/images/epub/epub-logo-color-book.png"><img src="/static/images/epub/epub-logo-color-book.png" alt="ePub logo, color book form" border="0"/></a></td>
    <td> <a href="/static/images/epub/epub-logo-bw-book.png"><img src="/static/images/epub/epub-logo-bw-book.png" alt="ePub logo, bw book form" border="0"/></a></td>
  </tr>
  <tr>
    <td> <a href="/static/images/epub/epub-logo-color-box.png"><img src="/static/images/epub/epub-logo-color-box.png" alt="ePub logo, color box form" border="0"/></a></td>
    <td> <a href="/static/images/epub/epub-logo-bw-box.png"><img src="/static/images/epub/epub-logo-bw-box.png" alt="ePub logo, bw box form" border="0"/></a></td>
  </tr>
  <tr>
    <td> <a href="/static/images/epub/epub-logo-color.png"><img src="/static/images/epub/epub-logo-color.png" alt="ePub logo, color form" border="0"/></a></td>
    <td> <a href="/static/images/epub/epub-logo-bw.png"><img src="/static/images/epub/epub-logo-bw.png" alt="ePub logo, bw form" border="0"/></a></td>
  </tr>
</table>



{% endblock main %}